
.root {
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
}
  
.team {
    margin: 16px;
    margin-bottom: 0px;
    padding: 16px;
    text-align: center;
    height: 40vh;
    background-color: tomato;
}
  
.score {
    font-size: 72px;
}

.paper {
    margin: 16px;
    margin-top: 0px;
    padding: 16px;
    text-align: center;
    height: 45vh;
}
  
.card {
    max-width: 500px;
    margin: 16px auto 32px;
}
  
.button {
    margin: 32px;
}

.result {
    text-align: center;
}

@media (max-width: 600px) {
    .team {
        margin-top: 8px;
        padding: 8px;
        text-align: center;
        height: 20vh;
    }

    .team h1 {
        font-size: 24px;
    }

    .score {
        font-size: 48px;
    }
}