
.teamName {
    font-family: 'Bangers', cursive;
    color: #388e3c;
}

.hidden {
    font-family: 'Bangers', cursive;
    color: #a1887f;
}

.clock {
    height: 105px;
    /* padding-left: calc(50% - 100px); */
}

.clockGone {
    display: none;
}

.bg {
    height: 100%;
    min-height: 100vh;
}

@media (min-width: 460px) {

    .teamName {
        font-size: 2rem;
    }
    
    .hidden {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.4rem;
    }

    .subline {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    .teamName {
        font-size: 3rem;
    }

    .hidden {
        font-size: 3rem;
    }
        
    .subtitle {
        font-size: 1.8rem;
    }
}

