
.cFont {
    font-family: 'Bangers', cursive;
    color: #388e3c;
}

.clock {
    height: 105px;
    /* padding-left: calc(50% - 100px); */
}

.clockGone {
    display: none;
}

.bg {
    height: 100%;
    min-height: 100vh;
}

@media (min-width: 481px) {

}
