
@media (min-width: 460px) {

    .subtitle {
        font-size: 1.4rem;
    }

    .subline {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    .subtitle {
        font-size: 1.8rem;
    }
}