
.root {
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
}

.paper {
    padding: 16px;
    margin: 16px 8px;
    text-align: center;
    height: 100%;    
    color: #000;
}

.welcome {
    max-width: 80%;
    margin: 24px auto 16px;
}

.welcome h1, .instruct h1 {
    font-size: 1em;
    color: #388e3c;
}

.welcome p, .instruct p {
    font-size: .8em;
}

.special {
    margin-top: 32px;
    font-size: .6em;
}

/* Submit Question Secton */
.thanks {
    margin: 16px;
    padding: 16px 0px;
    color: #fff;
    background-color: #6abf69;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .paper {
        padding: 16px;
        margin: 0px 24px;
        text-align: center;
        height: 100%;    
        color: #000;
    }
}

@media (max-width: 720px) and (min-width: 481px) {
    .welcome {
        max-width: 80%;
        margin: 24px auto 16px;
    }

    .welcome h1, .instruct h1 {
        font-size: 1.2em;
    }

    .welcome p, .instruct p {
        font-size: 1em;
    }

    .special {
        margin-top: 16px;
        font-size: .8em;
    }
}

@media (max-width: 1399px) and (min-width: 721px) {
    .welcome {
        max-width: 80%;
        margin: 24px auto 16px;
    }

    .welcome h1, .instruct h1 {
        font-size: 1.4em;
    }

    .welcome p, .instruct p {
        font-size: 1.2em;
    }

    .special {
        margin-top: 16px;
        font-size: .8em;
    }
}

@media (min-width: 1400px) {
    .welcome {
        max-width: 70%;
        margin: 32px auto 24px;
    }

    .welcome h1, .instruct h1 {
        font-size: 1.6em;
    }
    
    .welcome p, .instruct p {
        font-size: 1.4em;
    }
    
    .special {
        margin-top: 48px;
        font-size: 1em;
    }
}

