
.LeftMain {
    padding: 1rem; 
    color: #000;
}

.LeftMain h2 {
    font-family: 'Bangers', cursive;
    color: #388e3c;
}

.LeftMain h4 {
    color: #a1887f;
    font-size: 1rem;
    font-weight: 700;
}

.LeftMain p {
    font-size: 1rem;
}

.buttonColor {
    background-color: #a1887f;
    color: white;
}

.test {
    justify-self: end;
}

@media (min-width: 540px) {

    .LeftMain h2 {
        font-size: 2.8rem;
    }

    .LeftMain h4 {
        font-size: 1.4rem;
    }
    
    .LeftMain p {
        font-size: 1rem;
    }

}

@media (min-width: 960px) {
    .LeftMain h2 {
        font-size: 4.2rem;
    }
}





.root {
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
}

.special {
    margin-top: 32px;
    font-size: .6em;
}

/* Submit Question Secton */
.thanks {
    margin: 16px;
    padding: 16px 0px;
    color: #fff;
    background-color: #6abf69;
    border-radius: 5px;
}

@media (max-width: 720px) and (min-width: 481px) {

    .special {
        margin-top: 16px;
        font-size: .8em;
    }

}

@media (max-width: 1399px) and (min-width: 721px) {

    .special {
        margin-top: 16px;
        font-size: .8em;
    }
}

@media (min-width: 1400px) {
    
    .special {
        margin-top: 48px;
        font-size: 1em;
    }
    
}

