
.root {
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
}

.paper {
    padding: 16px;
    margin: 16px;
    text-align: center;
    height: 100%;    
    color: #000;
}

.welcome {
    max-width: 80%;
    margin: 56px auto 24px;
}

.welcome p, .instruct p {
    font-size: 1.2em;
}

.special {
    margin-top: 96px;
    font-size: 1em;
}

.instruct {
    max-width: 80%;
    margin: 0px auto 24px;
}

@media (max-width: 450px) {
    .paper {
        height: 100%;
    }
}

.welcome h1, .instruct h1 {
    color: #388e3c;
}